body {
font-family: Arial, sans-serif;
background: #f2f2f2;
}

.app{
    width: 300px;
    margin:100px auto;
    background: white;
    padding: 20px;
    border: 8px;
}

input {
    width: 70%;
    padding: 5px;
}

button{
    padding: 6px 10px;
}

li {
    margin-top: 10px;
    cursor: pointer;
}

.done {
    text-decoration: line-through;
    color: gray;
}